<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/arielhernannapoli/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="arielhernannapoli" />
            <add key="ClearTextPassword" value="4bb3d64e4cc7796184081c2bbb9f7283ff90bb17" />
        </github>
    </packageSourceCredentials>
</configuration>